--
-- PostgreSQL database dump
--

\restrict lqMZpKdkzYOXJHjto2sY8xGxceObmec4umYFCpyJiUNJxcvR8GXOc2NZ4c3wqfq

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.worked_examples DROP CONSTRAINT IF EXISTS worked_examples_source_page_id_fkey;
ALTER TABLE IF EXISTS ONLY public.worked_examples DROP CONSTRAINT IF EXISTS worked_examples_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.table_references DROP CONSTRAINT IF EXISTS table_references_source_page_id_fkey;
ALTER TABLE IF EXISTS ONLY public.table_references DROP CONSTRAINT IF EXISTS table_references_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.sub_concepts DROP CONSTRAINT IF EXISTS sub_concepts_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.source_pages DROP CONSTRAINT IF EXISTS source_pages_document_id_fkey;
ALTER TABLE IF EXISTS ONLY public.source_documents DROP CONSTRAINT IF EXISTS source_documents_unit_id_fkey;
ALTER TABLE IF EXISTS ONLY public.remediation_cards DROP CONSTRAINT IF EXISTS remediation_cards_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.questions DROP CONSTRAINT IF EXISTS questions_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.question_options DROP CONSTRAINT IF EXISTS question_options_question_id_fkey;
ALTER TABLE IF EXISTS ONLY public.question_attempts DROP CONSTRAINT IF EXISTS question_attempts_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.question_attempts DROP CONSTRAINT IF EXISTS question_attempts_selected_option_id_fkey;
ALTER TABLE IF EXISTS ONLY public.question_attempts DROP CONSTRAINT IF EXISTS question_attempts_question_id_fkey;
ALTER TABLE IF EXISTS ONLY public.node_progress DROP CONSTRAINT IF EXISTS node_progress_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.node_progress DROP CONSTRAINT IF EXISTS node_progress_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.mini_game_definitions DROP CONSTRAINT IF EXISTS mini_game_definitions_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.mastery_snapshots DROP CONSTRAINT IF EXISTS mastery_snapshots_progress_id_fkey;
ALTER TABLE IF EXISTS ONLY public.hints DROP CONSTRAINT IF EXISTS hints_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.formulas DROP CONSTRAINT IF EXISTS formulas_source_page_id_fkey;
ALTER TABLE IF EXISTS ONLY public.formulas DROP CONSTRAINT IF EXISTS formulas_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.figure_references DROP CONSTRAINT IF EXISTS figure_references_source_page_id_fkey;
ALTER TABLE IF EXISTS ONLY public.figure_references DROP CONSTRAINT IF EXISTS figure_references_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.content_chunks DROP CONSTRAINT IF EXISTS content_chunks_source_page_id_fkey;
ALTER TABLE IF EXISTS ONLY public.content_chunks DROP CONSTRAINT IF EXISTS content_chunks_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.concept_nodes DROP CONSTRAINT IF EXISTS concept_nodes_unit_id_fkey;
ALTER TABLE IF EXISTS ONLY public.concept_nodes DROP CONSTRAINT IF EXISTS concept_nodes_parent_id_fkey;
ALTER TABLE IF EXISTS ONLY public.calculator_templates DROP CONSTRAINT IF EXISTS calculator_templates_node_id_fkey;
ALTER TABLE IF EXISTS ONLY public.calculator_runs DROP CONSTRAINT IF EXISTS calculator_runs_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.analytics_events DROP CONSTRAINT IF EXISTS analytics_events_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.ai_sessions DROP CONSTRAINT IF EXISTS ai_sessions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.ai_messages DROP CONSTRAINT IF EXISTS ai_messages_session_id_fkey;
ALTER TABLE IF EXISTS ONLY public.achievements DROP CONSTRAINT IF EXISTS achievements_user_id_fkey;
DROP INDEX IF EXISTS public.users_email_key;
DROP INDEX IF EXISTS public.node_progress_user_id_node_id_key;
DROP INDEX IF EXISTS public.audit_logs_entity_type_entity_id_idx;
DROP INDEX IF EXISTS public.analytics_events_event_type_idx;
ALTER TABLE IF EXISTS ONLY public.worked_examples DROP CONSTRAINT IF EXISTS worked_examples_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.units DROP CONSTRAINT IF EXISTS units_pkey;
ALTER TABLE IF EXISTS ONLY public.table_references DROP CONSTRAINT IF EXISTS table_references_pkey;
ALTER TABLE IF EXISTS ONLY public.sub_concepts DROP CONSTRAINT IF EXISTS sub_concepts_pkey;
ALTER TABLE IF EXISTS ONLY public.source_pages DROP CONSTRAINT IF EXISTS source_pages_pkey;
ALTER TABLE IF EXISTS ONLY public.source_documents DROP CONSTRAINT IF EXISTS source_documents_pkey;
ALTER TABLE IF EXISTS ONLY public.remediation_cards DROP CONSTRAINT IF EXISTS remediation_cards_pkey;
ALTER TABLE IF EXISTS ONLY public.questions DROP CONSTRAINT IF EXISTS questions_pkey;
ALTER TABLE IF EXISTS ONLY public.question_options DROP CONSTRAINT IF EXISTS question_options_pkey;
ALTER TABLE IF EXISTS ONLY public.question_attempts DROP CONSTRAINT IF EXISTS question_attempts_pkey;
ALTER TABLE IF EXISTS ONLY public.node_progress DROP CONSTRAINT IF EXISTS node_progress_pkey;
ALTER TABLE IF EXISTS ONLY public.mini_game_definitions DROP CONSTRAINT IF EXISTS mini_game_definitions_pkey;
ALTER TABLE IF EXISTS ONLY public.mastery_snapshots DROP CONSTRAINT IF EXISTS mastery_snapshots_pkey;
ALTER TABLE IF EXISTS ONLY public.hints DROP CONSTRAINT IF EXISTS hints_pkey;
ALTER TABLE IF EXISTS ONLY public.gemini_api_keys DROP CONSTRAINT IF EXISTS gemini_api_keys_pkey;
ALTER TABLE IF EXISTS ONLY public.formulas DROP CONSTRAINT IF EXISTS formulas_pkey;
ALTER TABLE IF EXISTS ONLY public.figure_references DROP CONSTRAINT IF EXISTS figure_references_pkey;
ALTER TABLE IF EXISTS ONLY public.content_chunks DROP CONSTRAINT IF EXISTS content_chunks_pkey;
ALTER TABLE IF EXISTS ONLY public.concept_nodes DROP CONSTRAINT IF EXISTS concept_nodes_pkey;
ALTER TABLE IF EXISTS ONLY public.calculator_templates DROP CONSTRAINT IF EXISTS calculator_templates_pkey;
ALTER TABLE IF EXISTS ONLY public.calculator_runs DROP CONSTRAINT IF EXISTS calculator_runs_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.analytics_events DROP CONSTRAINT IF EXISTS analytics_events_pkey;
ALTER TABLE IF EXISTS ONLY public.ai_sessions DROP CONSTRAINT IF EXISTS ai_sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.ai_messages DROP CONSTRAINT IF EXISTS ai_messages_pkey;
ALTER TABLE IF EXISTS ONLY public.achievements DROP CONSTRAINT IF EXISTS achievements_pkey;
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
DROP TABLE IF EXISTS public.worked_examples;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.units;
DROP TABLE IF EXISTS public.table_references;
DROP TABLE IF EXISTS public.sub_concepts;
DROP TABLE IF EXISTS public.source_pages;
DROP TABLE IF EXISTS public.source_documents;
DROP TABLE IF EXISTS public.remediation_cards;
DROP TABLE IF EXISTS public.questions;
DROP TABLE IF EXISTS public.question_options;
DROP TABLE IF EXISTS public.question_attempts;
DROP TABLE IF EXISTS public.node_progress;
DROP TABLE IF EXISTS public.mini_game_definitions;
DROP TABLE IF EXISTS public.mastery_snapshots;
DROP TABLE IF EXISTS public.hints;
DROP TABLE IF EXISTS public.gemini_api_keys;
DROP TABLE IF EXISTS public.formulas;
DROP TABLE IF EXISTS public.figure_references;
DROP TABLE IF EXISTS public.content_chunks;
DROP TABLE IF EXISTS public.concept_nodes;
DROP TABLE IF EXISTS public.calculator_templates;
DROP TABLE IF EXISTS public.calculator_runs;
DROP TABLE IF EXISTS public.audit_logs;
DROP TABLE IF EXISTS public.analytics_events;
DROP TABLE IF EXISTS public.ai_sessions;
DROP TABLE IF EXISTS public.ai_messages;
DROP TABLE IF EXISTS public.achievements;
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TYPE IF EXISTS public."Role";
DROP TYPE IF EXISTS public."QuestionVariant";
DROP TYPE IF EXISTS public."QuestionType";
DROP TYPE IF EXISTS public."QuestionLevel";
DROP TYPE IF EXISTS public."ProgressStatus";
DROP TYPE IF EXISTS public."NodeStatus";
DROP TYPE IF EXISTS public."ChunkType";
DROP EXTENSION IF EXISTS vector;
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: ChunkType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ChunkType" AS ENUM (
    'DEFINITION',
    'EXPLANATION',
    'EXAMPLE',
    'ACTIVITY',
    'NOTE',
    'LAW'
);


--
-- Name: NodeStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."NodeStatus" AS ENUM (
    'LOCKED',
    'OPEN',
    'COMPLETED'
);


--
-- Name: ProgressStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ProgressStatus" AS ENUM (
    'LOCKED',
    'IN_PROGRESS',
    'COMPLETED'
);


--
-- Name: QuestionLevel; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."QuestionLevel" AS ENUM (
    'UNDERSTANDING',
    'APPLICATION',
    'REASONING'
);


--
-- Name: QuestionType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."QuestionType" AS ENUM (
    'MCQ',
    'TRUE_FALSE',
    'DRAG_DROP',
    'ORDER',
    'CLASSIFY',
    'FILL_BLANK',
    'MATCH',
    'APPLY_LAW',
    'INFERENCE',
    'READ_TABLE',
    'READ_GRAPH'
);


--
-- Name: QuestionVariant; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."QuestionVariant" AS ENUM (
    'PRIMARY',
    'ALTERNATIVE',
    'REMEDIAL',
    'MASTERY'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'STUDENT',
    'TEACHER',
    'ADMIN'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: achievements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.achievements (
    id text NOT NULL,
    user_id text NOT NULL,
    type text NOT NULL,
    title_ar text NOT NULL,
    description_ar text NOT NULL,
    icon text DEFAULT 'trophy'::text NOT NULL,
    earned_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: ai_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_messages (
    id text NOT NULL,
    session_id text NOT NULL,
    role text NOT NULL,
    content text NOT NULL,
    citations_json jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: ai_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_sessions (
    id text NOT NULL,
    user_id text NOT NULL,
    node_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: analytics_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.analytics_events (
    id text NOT NULL,
    user_id text,
    event_type text NOT NULL,
    payload_json jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    user_id text,
    action text NOT NULL,
    entity_type text NOT NULL,
    entity_id text,
    details_json jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: calculator_runs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calculator_runs (
    id text NOT NULL,
    user_id text NOT NULL,
    type text NOT NULL,
    input_json jsonb NOT NULL,
    result_json jsonb NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: calculator_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calculator_templates (
    id text NOT NULL,
    type text NOT NULL,
    title_ar text NOT NULL,
    formula_json jsonb NOT NULL,
    node_id text NOT NULL
);


--
-- Name: concept_nodes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.concept_nodes (
    id text NOT NULL,
    title_ar text NOT NULL,
    description_ar text NOT NULL,
    introduction_ar text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    unit_id text NOT NULL,
    parent_id text,
    icon text DEFAULT 'atom'::text NOT NULL,
    color text DEFAULT '#3B82F6'::text NOT NULL,
    needs_review boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: content_chunks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.content_chunks (
    id text NOT NULL,
    text_ar text NOT NULL,
    type public."ChunkType" DEFAULT 'EXPLANATION'::public."ChunkType" NOT NULL,
    source_page_id text,
    node_id text NOT NULL,
    embedding public.vector(768),
    "order" integer DEFAULT 0 NOT NULL
);


--
-- Name: figure_references; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.figure_references (
    id text NOT NULL,
    figure_number integer NOT NULL,
    caption_ar text NOT NULL,
    image_url text,
    source_page_id text,
    node_id text NOT NULL
);


--
-- Name: formulas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.formulas (
    id text NOT NULL,
    expression text NOT NULL,
    description_ar text NOT NULL,
    node_id text NOT NULL,
    source_page_id text
);


--
-- Name: gemini_api_keys; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.gemini_api_keys (
    id text NOT NULL,
    label text DEFAULT ''::text NOT NULL,
    api_key text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    usage_count integer DEFAULT 0 NOT NULL,
    last_used_at timestamp(3) without time zone,
    last_error text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: hints; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hints (
    id text NOT NULL,
    text_ar text NOT NULL,
    type text NOT NULL,
    cost_points integer DEFAULT 2 NOT NULL,
    node_id text NOT NULL,
    level public."QuestionLevel" NOT NULL
);


--
-- Name: mastery_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mastery_snapshots (
    id text NOT NULL,
    progress_id text NOT NULL,
    mastery_score double precision NOT NULL,
    snapshot_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: mini_game_definitions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mini_game_definitions (
    id text NOT NULL,
    type text NOT NULL,
    title_ar text NOT NULL,
    config_json jsonb NOT NULL,
    node_id text NOT NULL
);


--
-- Name: node_progress; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.node_progress (
    id text NOT NULL,
    user_id text NOT NULL,
    node_id text NOT NULL,
    status public."ProgressStatus" DEFAULT 'LOCKED'::public."ProgressStatus" NOT NULL,
    understanding_score double precision DEFAULT 0 NOT NULL,
    application_score double precision DEFAULT 0 NOT NULL,
    reasoning_score double precision DEFAULT 0 NOT NULL,
    mastery_score double precision DEFAULT 0 NOT NULL,
    attempts_count integer DEFAULT 0 NOT NULL,
    hints_count integer DEFAULT 0 NOT NULL,
    time_spent_seconds integer DEFAULT 0 NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: question_attempts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.question_attempts (
    id text NOT NULL,
    user_id text NOT NULL,
    question_id text NOT NULL,
    selected_option_id text,
    text_answer text,
    is_correct boolean NOT NULL,
    hints_used integer DEFAULT 0 NOT NULL,
    time_seconds integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: question_options; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.question_options (
    id text NOT NULL,
    text_ar text NOT NULL,
    is_correct boolean DEFAULT false NOT NULL,
    explanation_ar text,
    "order" integer DEFAULT 0 NOT NULL,
    question_id text NOT NULL
);


--
-- Name: questions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.questions (
    id text NOT NULL,
    text_ar text NOT NULL,
    type public."QuestionType" DEFAULT 'MCQ'::public."QuestionType" NOT NULL,
    level public."QuestionLevel" NOT NULL,
    variant public."QuestionVariant" DEFAULT 'PRIMARY'::public."QuestionVariant" NOT NULL,
    node_id text NOT NULL,
    points integer DEFAULT 10 NOT NULL,
    explanation_ar text,
    is_active boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL
);


--
-- Name: remediation_cards; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.remediation_cards (
    id text NOT NULL,
    title_ar text NOT NULL,
    content_ar text NOT NULL,
    level public."QuestionLevel" NOT NULL,
    node_id text NOT NULL
);


--
-- Name: source_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.source_documents (
    id text NOT NULL,
    filename text NOT NULL,
    type text NOT NULL,
    unit_id text NOT NULL
);


--
-- Name: source_pages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.source_pages (
    id text NOT NULL,
    page_number integer NOT NULL,
    raw_text text NOT NULL,
    document_id text NOT NULL
);


--
-- Name: sub_concepts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sub_concepts (
    id text NOT NULL,
    title_ar text NOT NULL,
    content_ar text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    node_id text NOT NULL
);


--
-- Name: table_references; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.table_references (
    id text NOT NULL,
    table_number integer NOT NULL,
    caption_ar text NOT NULL,
    data_json jsonb NOT NULL,
    source_page_id text,
    node_id text NOT NULL
);


--
-- Name: units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.units (
    id text NOT NULL,
    title_ar text NOT NULL,
    description_ar text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    password_hash text NOT NULL,
    role public."Role" DEFAULT 'STUDENT'::public."Role" NOT NULL,
    avatar_url text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: worked_examples; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.worked_examples (
    id text NOT NULL,
    problem_ar text NOT NULL,
    solution_steps_json jsonb NOT NULL,
    node_id text NOT NULL,
    source_page_id text
);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
a7ec36a4-b115-4b79-8922-39310b2921bb	e624db78b73575372af8473d9a7611211e4ddafaa31bb5e4340a51b19a1ba859	2026-05-03 14:21:14.986909+00	20260412224939_init	\N	\N	2026-05-03 14:21:06.889438+00	1
74d52a9c-58b7-4c02-b860-9510c2b7c817	617d9d6208e27ebf68f13c044e20828dd6045ce80a2e211971971d2a6d103989	2026-05-03 19:52:54.286628+00	20260503195253_add_gemini_api_keys	\N	\N	2026-05-03 19:52:53.547352+00	1
\.


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.achievements (id, user_id, type, title_ar, description_ar, icon, earned_at) FROM stdin;
\.


--
-- Data for Name: ai_messages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ai_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ai_sessions (id, user_id, node_id, created_at) FROM stdin;
6ff34f84-14f3-4ab1-8484-f0bcc4a95f06	61b1e92f-738c-4d35-93a1-0c07b496dafa	\N	2026-05-03 14:36:03.617
de865144-2ddb-4bbc-9f63-18bd75317cec	4caf06f8-b03c-46bd-8a26-90c480ec6475	\N	2026-05-03 20:29:54.913
c811a372-f9d7-4175-af30-70602b5bddc9	4caf06f8-b03c-46bd-8a26-90c480ec6475	\N	2026-05-03 20:35:26.775
\.


--
-- Data for Name: analytics_events; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.analytics_events (id, user_id, event_type, payload_json, created_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_logs (id, user_id, action, entity_type, entity_id, details_json, created_at) FROM stdin;
\.


--
-- Data for Name: calculator_runs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.calculator_runs (id, user_id, type, input_json, result_json, created_at) FROM stdin;
\.


--
-- Data for Name: calculator_templates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.calculator_templates (id, type, title_ar, formula_json, node_id) FROM stdin;
\.


--
-- Data for Name: concept_nodes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: content_chunks; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: figure_references; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.figure_references (id, figure_number, caption_ar, image_url, source_page_id, node_id) FROM stdin;
\.


--
-- Data for Name: formulas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: gemini_api_keys; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.gemini_api_keys (id, label, api_key, is_active, priority, usage_count, last_used_at, last_error, created_at, updated_at) FROM stdin;
1efa8ba7-4abb-466d-92b9-f820e05eee10	┘à┘üÏ¬ÏºÏ¡ 2	AIzaSyAH8Xi_AvIGCqXPwd8ZOx6hSv_IUqaub7k	t	1	0	\N	\N	2026-05-03 19:59:13.215	2026-05-03 20:05:12.067
eef8c3eb-fd9f-4e0b-80b2-1cc7597d8ec3	┘à┘üÏ¬ÏºÏ¡ 1	AIzaSyDyoLLjEQXisiqzmujuYFkLgrFuEm1PKxE	t	0	13	2026-05-03 20:36:04.355	\N	2026-05-03 19:58:55.973	2026-05-03 20:36:04.356
\.


--
-- Data for Name: hints; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: mastery_snapshots; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mastery_snapshots (id, progress_id, mastery_score, snapshot_at) FROM stdin;
a7f97e33-2634-454d-ac25-6de6af751d8e	27244417-9c32-4971-a484-b7fdcb7b9b49	0	2026-05-03 14:35:45.194
\.


--
-- Data for Name: mini_game_definitions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mini_game_definitions (id, type, title_ar, config_json, node_id) FROM stdin;
\.


--
-- Data for Name: node_progress; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.node_progress (id, user_id, node_id, status, understanding_score, application_score, reasoning_score, mastery_score, attempts_count, hints_count, time_spent_seconds, updated_at) FROM stdin;
27244417-9c32-4971-a484-b7fdcb7b9b49	61b1e92f-738c-4d35-93a1-0c07b496dafa	3cf1fd7e-65d9-4e0c-a313-6f51f5369d36	IN_PROGRESS	0	0	0	0	1	1	57	2026-05-03 14:37:50.019
\.


--
-- Data for Name: question_attempts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: question_options; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: remediation_cards; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: source_documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.source_documents (id, filename, type, unit_id) FROM stdin;
d484e87d-8c0b-47ae-adbb-b3a416dfe42e	chm10.pdf	PDF	81fcd3dd-24bb-4079-9a58-7bdb5563e50c
1edd9255-6912-42c1-865f-4efd1cf2cd25	┘êÏ½┘è┘éÏ® Ïº┘äÏ¬ÏÁ┘à┘è┘à Ïº┘äÏ┤Ïº┘à┘äÏ® ┘äÏ¿Ï▒┘àÏ¼┘èÏ®.docx	DOCX	81fcd3dd-24bb-4079-9a58-7bdb5563e50c
61544a1b-b248-47e1-a75b-c7d45453f5d2	22.jpeg	IMAGE	81fcd3dd-24bb-4079-9a58-7bdb5563e50c
\.


--
-- Data for Name: source_pages; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.source_pages (id, page_number, raw_text, document_id) FROM stdin;
\.


--
-- Data for Name: sub_concepts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sub_concepts (id, title_ar, content_ar, "order", node_id) FROM stdin;
\.


--
-- Data for Name: table_references; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: worked_examples; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.worked_examples (id, problem_ar, solution_steps_json, node_id, source_page_id) FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: ai_messages ai_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_messages
    ADD CONSTRAINT ai_messages_pkey PRIMARY KEY (id);


--
-- Name: ai_sessions ai_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_sessions
    ADD CONSTRAINT ai_sessions_pkey PRIMARY KEY (id);


--
-- Name: analytics_events analytics_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT analytics_events_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: calculator_runs calculator_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calculator_runs
    ADD CONSTRAINT calculator_runs_pkey PRIMARY KEY (id);


--
-- Name: calculator_templates calculator_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calculator_templates
    ADD CONSTRAINT calculator_templates_pkey PRIMARY KEY (id);


--
-- Name: concept_nodes concept_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.concept_nodes
    ADD CONSTRAINT concept_nodes_pkey PRIMARY KEY (id);


--
-- Name: content_chunks content_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_chunks
    ADD CONSTRAINT content_chunks_pkey PRIMARY KEY (id);


--
-- Name: figure_references figure_references_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.figure_references
    ADD CONSTRAINT figure_references_pkey PRIMARY KEY (id);


--
-- Name: formulas formulas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.formulas
    ADD CONSTRAINT formulas_pkey PRIMARY KEY (id);


--
-- Name: gemini_api_keys gemini_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gemini_api_keys
    ADD CONSTRAINT gemini_api_keys_pkey PRIMARY KEY (id);


--
-- Name: hints hints_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hints
    ADD CONSTRAINT hints_pkey PRIMARY KEY (id);


--
-- Name: mastery_snapshots mastery_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mastery_snapshots
    ADD CONSTRAINT mastery_snapshots_pkey PRIMARY KEY (id);


--
-- Name: mini_game_definitions mini_game_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mini_game_definitions
    ADD CONSTRAINT mini_game_definitions_pkey PRIMARY KEY (id);


--
-- Name: node_progress node_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.node_progress
    ADD CONSTRAINT node_progress_pkey PRIMARY KEY (id);


--
-- Name: question_attempts question_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_attempts
    ADD CONSTRAINT question_attempts_pkey PRIMARY KEY (id);


--
-- Name: question_options question_options_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: remediation_cards remediation_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.remediation_cards
    ADD CONSTRAINT remediation_cards_pkey PRIMARY KEY (id);


--
-- Name: source_documents source_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.source_documents
    ADD CONSTRAINT source_documents_pkey PRIMARY KEY (id);


--
-- Name: source_pages source_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.source_pages
    ADD CONSTRAINT source_pages_pkey PRIMARY KEY (id);


--
-- Name: sub_concepts sub_concepts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sub_concepts
    ADD CONSTRAINT sub_concepts_pkey PRIMARY KEY (id);


--
-- Name: table_references table_references_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.table_references
    ADD CONSTRAINT table_references_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: worked_examples worked_examples_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.worked_examples
    ADD CONSTRAINT worked_examples_pkey PRIMARY KEY (id);


--
-- Name: analytics_events_event_type_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX analytics_events_event_type_idx ON public.analytics_events USING btree (event_type);


--
-- Name: audit_logs_entity_type_entity_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_entity_type_entity_id_idx ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: node_progress_user_id_node_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX node_progress_user_id_node_id_key ON public.node_progress USING btree (user_id, node_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: achievements achievements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ai_messages ai_messages_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_messages
    ADD CONSTRAINT ai_messages_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.ai_sessions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ai_sessions ai_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_sessions
    ADD CONSTRAINT ai_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: analytics_events analytics_events_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT analytics_events_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: calculator_runs calculator_runs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calculator_runs
    ADD CONSTRAINT calculator_runs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: calculator_templates calculator_templates_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calculator_templates
    ADD CONSTRAINT calculator_templates_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: concept_nodes concept_nodes_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.concept_nodes
    ADD CONSTRAINT concept_nodes_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: concept_nodes concept_nodes_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.concept_nodes
    ADD CONSTRAINT concept_nodes_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: content_chunks content_chunks_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_chunks
    ADD CONSTRAINT content_chunks_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: content_chunks content_chunks_source_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_chunks
    ADD CONSTRAINT content_chunks_source_page_id_fkey FOREIGN KEY (source_page_id) REFERENCES public.source_pages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: figure_references figure_references_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.figure_references
    ADD CONSTRAINT figure_references_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: figure_references figure_references_source_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.figure_references
    ADD CONSTRAINT figure_references_source_page_id_fkey FOREIGN KEY (source_page_id) REFERENCES public.source_pages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: formulas formulas_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.formulas
    ADD CONSTRAINT formulas_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: formulas formulas_source_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.formulas
    ADD CONSTRAINT formulas_source_page_id_fkey FOREIGN KEY (source_page_id) REFERENCES public.source_pages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: hints hints_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hints
    ADD CONSTRAINT hints_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: mastery_snapshots mastery_snapshots_progress_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mastery_snapshots
    ADD CONSTRAINT mastery_snapshots_progress_id_fkey FOREIGN KEY (progress_id) REFERENCES public.node_progress(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: mini_game_definitions mini_game_definitions_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mini_game_definitions
    ADD CONSTRAINT mini_game_definitions_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: node_progress node_progress_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.node_progress
    ADD CONSTRAINT node_progress_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: node_progress node_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.node_progress
    ADD CONSTRAINT node_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: question_attempts question_attempts_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_attempts
    ADD CONSTRAINT question_attempts_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: question_attempts question_attempts_selected_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_attempts
    ADD CONSTRAINT question_attempts_selected_option_id_fkey FOREIGN KEY (selected_option_id) REFERENCES public.question_options(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: question_attempts question_attempts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_attempts
    ADD CONSTRAINT question_attempts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: question_options question_options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: questions questions_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: remediation_cards remediation_cards_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.remediation_cards
    ADD CONSTRAINT remediation_cards_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: source_documents source_documents_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.source_documents
    ADD CONSTRAINT source_documents_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: source_pages source_pages_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.source_pages
    ADD CONSTRAINT source_pages_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.source_documents(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sub_concepts sub_concepts_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sub_concepts
    ADD CONSTRAINT sub_concepts_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: table_references table_references_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.table_references
    ADD CONSTRAINT table_references_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: table_references table_references_source_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.table_references
    ADD CONSTRAINT table_references_source_page_id_fkey FOREIGN KEY (source_page_id) REFERENCES public.source_pages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: worked_examples worked_examples_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.worked_examples
    ADD CONSTRAINT worked_examples_node_id_fkey FOREIGN KEY (node_id) REFERENCES public.concept_nodes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: worked_examples worked_examples_source_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.worked_examples
    ADD CONSTRAINT worked_examples_source_page_id_fkey FOREIGN KEY (source_page_id) REFERENCES public.source_pages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict lqMZpKdkzYOXJHjto2sY8xGxceObmec4umYFCpyJiUNJxcvR8GXOc2NZ4c3wqfq

